# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
notebooks/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
logs/
*.log

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Streamlit Cache
.streamlit/cache/

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/


# Models
models/*.pkl
!models/modelsxgboost_final_optimized.pkl

